.ourBlogs {
  background-color: var(--back-color);
}
.ourBlogs__filter {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -1px 0px 10px 0 #e0e0e0;
  border: 1px solid #d6d6d6;
}
.ourBlogs__filter ul li {
  font-size: 12px;
  color: #777;
}