.offer__discound {
  position: absolute;
  top: 8px;
  left: 6px;
  background-color: #fbbb72;
  display: block;
  font-size: 10px;
  border-radius: 10px;
  padding: 0px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product__actionBar {
  top: 40px;
  right: -30px;
  transition: all 0.5s;
}
.product__actionBar i {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.product__hover:hover .product__actionBar {
  right: 10px;
}
.product__actionBar i:hover {
  background-color: brown;
  color: #fff;
}
.product__hover:hover .img__hover:last-of-type {
  display: none !important;
}
.product__hover:hover .img__hover:first-of-type {
  display: flex !important;
}
.stars {
  padding: 5px 0;
}
.product__button {
  background-color: var(--main-color) !important;
}