@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

:root {
  --main-color: #131921;
  --secandry-color: #febd69;
  --third-color: #232f3e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
ul {
  list-style: none;
}
body {
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
}
